<a href="https://colab.research.google.com/github/jinyoung0711/iwantsuccess/blob/main/%EC%A7%84%EC%98%81%EB%B6%84%EC%84%9D_ver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pylab as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
d1 = pd.read_csv('/content/drive/MyDrive/1. 실습용자료.txt', sep ='|',encoding='CP949', header=0)

d2 = pd.read_csv('/content/drive/MyDrive/2. 모델개발용자료.txt', sep ='|',encoding='CP949', header=0)

In [ ]:
d1.head(10)

        AI_id digit_1  digit_2  digit_3    text_obj    text_mthd text_deal
0  id_0000001       S       95      952       카센터에서      자동차부분정비   타이어오일교환
1  id_0000002       G       47      472       상점내에서    일반인을 대상으로   채소.과일판매
2  id_0000003       G       46      467  절단하여사업체에도매    공업용고무를가지고    합성고무도매
3  id_0000004       G       47      475       영업점에서      일반소비자에게    열쇠잠금장치
4  id_0000005       Q       87      872        어린이집  보호자의 위탁을 받아   취학전아동보육
5  id_0000006       C       29      291           철        절삭.용접   카프라배관자재
6  id_0000007       I       56      561       음식점에서    접객시설을 갖추고  참치회(일본식)
7  id_0000008       C       10      107      쌀을 가지고         가공하여       떡제조
8  id_0000009       O       84      841  시청에서 재정과인력       일반공공행정   지방행정 집행
9  id_0000010       F       42      423       영업장에서     고객의뢰를 받아    내부전기공사

In [ ]:
d2.head(10)

       AI_id  digit_1  digit_2  digit_3    text_obj  text_mthd text_deal
0  id_000001      NaN      NaN      NaN     치킨전문점에서   고객의주문에의해      치킨판매
1  id_000002      NaN      NaN      NaN        산업공구  다른 소매업자에게    철물 수공구
2  id_000003      NaN      NaN      NaN         절에서   신도을 대상으로    불교단체운영
3  id_000004      NaN      NaN      NaN       영업장에서      고객요구로     자동차튜닝
4  id_000005      NaN      NaN      NaN    실내포장마차에서  접객시설을 갖추고   소주,맥주제공
5  id_000006      NaN      NaN      NaN   철,아크릴,포맥스      스크린인쇄        명판
6  id_000007      NaN      NaN      NaN         음식점    접객시설가지고    조개구이판매
7  id_000008      NaN      NaN      NaN      스테인레스를  프레스가공하여제조      주방용품
8  id_000009      NaN      NaN      NaN          수리    서비스센터에서  전문수리 수입차
9  id_000010      NaN      NaN      NaN  약품(화공), 미싱  완성품입고, 수선       NaN

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   AI_id      1000000 non-null  object
 1   digit_1    1000000 non-null  object
 2   digit_2    1000000 non-null  int64
 3   digit_3    1000000 non-null  int64
 4   text_obj   983323 non-null   object
 5   text_mthd  956381 non-null   object
 6   text_deal  932348 non-null   object
dtypes: int64(2), object(5)
memory usage: 53.4+ MB

In [ ]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AI_id      100000 non-null  object
 1   digit_1    0 non-null       float64
 2   digit_2    0 non-null       float64
 3   digit_3    0 non-null       float64
 4   text_obj   98189 non-null   object
 5   text_mthd  97032 non-null   object
 6   text_deal  93839 non-null   object
dtypes: float64(3), object(4)
memory usage: 5.3+ MB

In [ ]:
d1.isnull().sum()

AI_id            0
digit_1          0
digit_2          0
digit_3          0
text_obj     16677
text_mthd    43619
text_deal    67652
dtype: int64

In [ ]:
d2.isnull().sum()

AI_id             0
digit_1      100000
digit_2      100000
digit_3      100000
text_obj       1811
text_mthd      2968
text_deal      6161
dtype: int64

In [ ]:
!pip install konlpy

Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 1.3 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.5)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (448 kB)
     |████████████████████████████████| 448 kB 46.3 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.10.0.2)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.3.0 konlpy-0.6.0

In [ ]:
from konlpy.tag import Okt

hannanum = Hannanum()
kkma = Kkma()
komoran = Komoran()
okt = Okt()

NameError: ignored

In [ ]:
col = ['text_obj','text_mthd','text_deal']
NLP = d1[col].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
NLP.head(100)

0           카센터에서 자동차부분정비 타이어오일교환
1         상점내에서 일반인을 대상으로 채소.과일판매
2     절단하여사업체에도매 공업용고무를가지고 합성고무도매
3            영업점에서 일반소비자에게 열쇠잠금장치
4        어린이집 보호자의 위탁을 받아 취학전아동보육
                 ...
95               미용실 두발미용 서비스 컷.펌
96             상가에서 소매업자에게 도매 티셔츠
97               안경점 일반소비자에게 안경소매
98           사업장에서 아파트를 위해 아파트 관리
99          목재,페인트로 간판의뢰를받아 목간판제조
Length: 100, dtype: object

In [ ]:
d2["text_full"] = d2["text_obj"] + " " + d2["text_mthd"] + " " + d2["text_deal"]
print(d2)

           AI_id  digit_1  digit_2  digit_3  text_obj   text_mthd text_deal  \
0      id_000001      NaN      NaN      NaN   치킨전문점에서    고객의주문에의해      치킨판매
1      id_000002      NaN      NaN      NaN      산업공구   다른 소매업자에게    철물 수공구
2      id_000003      NaN      NaN      NaN       절에서    신도을 대상으로    불교단체운영
3      id_000004      NaN      NaN      NaN     영업장에서       고객요구로     자동차튜닝
4      id_000005      NaN      NaN      NaN  실내포장마차에서   접객시설을 갖추고   소주,맥주제공
...          ...      ...      ...      ...       ...         ...       ...
99995  id_099996      NaN      NaN      NaN     사업장에서     일반인대상으로      버섯농장
99996  id_099997      NaN      NaN      NaN     한의원에서     외래환자위주고        치료
99997  id_099998      NaN      NaN      NaN    일반점포에서       소비자에게      그림판매
99998  id_099999      NaN      NaN      NaN     사업장에서  일반인.학생대상으로    학습공간제공
99999  id_100000      NaN      NaN      NaN     사업장에서    대리현대아파트를        관리

                        text_full
0           치킨전문점에서 고객의주문에의해 치킨판매
1           산업공구 다른 소매업자에게 철물 수공구
2             절에서 신도을 대상으로 불교단체운영
3               영업장에서 고객요구로 자동차튜닝
4      실내포장마차에서 접객시설을 갖추고 소주,맥주제공
...                           ...
99995          사업장에서 일반인대상으로 버섯농장
99996            한의원에서 외래환자위주고 치료
99997           일반점포에서 소비자에게 그림판매
99998     사업장에서 일반인.학생대상으로 학습공간제공
99999           사업장에서 대리현대아파트를 관리

[100000 rows x 8 columns]

In [ ]:
train = d1[['AI_id','digit_3']].copy()
train['NLP'] = NLP
train['text_full'] = d2["text_full"]

In [ ]:
# 텍스트 정제 함수 : 한글 이외의 문자는 전부 제거합니다.
import re
def text_cleaning(text):
    hangul = re.compile('[^ ㄱ-ㅣ가-힣]+') # 한글의 정규표현식을 나타냅니다.
    result = hangul.sub('', text)
    return result

In [ ]:
okt.tagset

{'Adjective': '형용사',
 'Adverb': '부사',
 'Alpha': '알파벳',
 'Conjunction': '접속사',
 'Determiner': '관형사',
 'Eomi': '어미',
 'Exclamation': '감탄사',
 'Foreign': '외국어, 한자 및 기타기호',
 'Hashtag': '트위터 해쉬태그',
 'Josa': '조사',
 'KoreanParticle': '(ex: ㅋㅋ)',
 'Noun': '명사',
 'Number': '숫자',
 'PreEomi': '선어말어미',
 'Punctuation': '구두점',
 'ScreenName': '트위터 아이디',
 'Suffix': '접미사',
 'Unknown': '미등록어',
 'Verb': '동사'}

In [ ]:
from gensim.models.word2vec import Word2Vec

In [ ]:
train.head()

        AI_id  digit_3                          NLP
0  id_0000001      952        카센터에서 자동차부분정비 타이어오일교환
1  id_0000002      472      상점내에서 일반인을 대상으로 채소.과일판매
2  id_0000003      467  절단하여사업체에도매 공업용고무를가지고 합성고무도매
3  id_0000004      475         영업점에서 일반소비자에게 열쇠잠금장치
4  id_0000005      872     어린이집 보호자의 위탁을 받아 취학전아동보육

In [ ]:
print(train.isnull().values.any())

False

In [ ]:
train['NLP'] = train['NLP'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
tokenized_contents = []
for i in range(len(NLP)):
  tokenized_contents.append(okt.pos(NLP[i]))

In [ ]:
tokenized_contents